<div ng-if="PredictCtrl.loader" class="my-loader"></div>
</div>
<main>
  <section class="predict-main-sec">
    <div class="container">
      <div class="section-head m-2">
        <div class="section-title">
          <h1>Enter the Details of Home (Chennai Region)</h1>
        </div>
      </div>
      <div class="predict-form-div pt-5 pb-5">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="form-detail bg-light card">
              <div class="card-body">
                <form name="PredictForm">
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                      <label for="latitude" class="font-weight-bold"
                        >Latitude</label
                      >
                      <input
                        required
                        type="number"
                        name="latitude"
                        id="latitude"
                        ng-model="PredictCtrl.detail.longitude"
                        class="form-control"
                        min="77"
                        step="0.1"
                        max="77.99"
                        placeholder="correct range(77 - 77.99)"
                      />
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="longitude" class="font-weight-bold"
                        >Longitude</label
                      >
                      <input
                        required
                        type="number"
                        name="longitude"
                        id="longitude"
                        ng-model="PredictCtrl.detail.latitude"
                        class="form-control"
                        min="12"
                        step="0.1"
                        max="12.99"
                        placeholder="correct range(12 - 12.99)"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="font-weight-bold">Ammenties</label>
                    <br />
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="gym"
                        ng-model="PredictCtrl.detail.gym"
                        ng-true-value="1"
                        ng-false-value="0"
                      />
                      <label class="custom-control-label font-italic" for="gym"
                        >Gym</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="lift"
                        ng-model="PredictCtrl.detail.lift"
                        ng-true-value="1"
                        ng-false-value="0"
                      />
                      <label class="custom-control-label font-italic" for="lift"
                        >Lift</label
                      >
                    </div>
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="swimming"
                        ng-model="PredictCtrl.detail.swimming_pool"
                        ng-true-value="1"
                        ng-false-value="0"
                      />
                      <label
                        class="custom-control-label font-italic"
                        for="swimming"
                        >Swimming Pool</label
                      >
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                      <label for="propertySize" class="font-weight-bold"
                        >Property Size(In Square Feet)</label
                      >
                      <input
                        required
                        type="number"
                        name="propertySize"
                        id="propertySize"
                        min="200"
                        ng-model="PredictCtrl.detail.property_size"
                        class="form-control"
                        placeholder="min value: 200"
                      />
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="noOfBathroom" class="font-weight-bold"
                        >No. of Bathrooms</label
                      >
                      <input
                        required
                        type="number"
                        name="noOfBathroom"
                        id="noOfBathroom"
                        ng-model="PredictCtrl.detail.bathroom"
                        class="form-control"
                        placeholder="e.g - 1, 2, 3"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                      <label for="floor" class="font-weight-bold">Floor</label>
                      <input
                        required
                        type="number"
                        name="floor"
                        id="floor"
                        ng-model="PredictCtrl.detail.floor"
                        class="form-control"
                        placeholder="e.g - 1, 2, 3"
                      />
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="totalFloor" class="font-weight-bold"
                        >Total no. of Floor</label
                      >
                      <input
                        required
                        type="number"
                        name="totalFloor"
                        id="totalFloor"
                        ng-model="PredictCtrl.detail.total_floor"
                        class="form-control"
                        placeholder="e.g - 1, 2, 3"
                      />
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                      <label for="balcony" class="font-weight-bold"
                        >Balconies</label
                      >
                      <input
                        required
                        type="number"
                        name="balcony"
                        id="balcony"
                        ng-model="PredictCtrl.detail.balconies"
                        class="form-control"
                        placeholder="e.g - 1, 2, 3"
                      />
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="parkingCategory" class="font-weight-bold"
                        >Parking</label
                      >
                      <br />
                      <select
                        id="parkingCategory"
                        ng-model="PredictCtrl.parkingCategory"
                        ng-options="key as PredictCtrl.parkingCategoryValue[key] for (key, value) in PredictCtrl.parkingCategoryDetail"
                        ng-change="PredictCtrl.setParkingTypeValue()"
                        required
                        class="custom-select"
                      >
                        <option value="" disabled>Select Option</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                      <label for="buildingCategory" class="font-weight-bold"
                        >Building Type</label
                      >
                      <br />
                      <select
                        id="buildingCategory"
                        ng-model="PredictCtrl.buildingCategory"
                        ng-options="key as PredictCtrl.buildingCategoryValue[key] for (key, value) in PredictCtrl.buildingCategoryDetail"
                        ng-change="PredictCtrl.setBuildingCategoryValue()"
                        required
                        class="custom-select"
                      >
                        <option value="" disabled>Select Option</option>
                      </select>
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="buildingType" class="font-weight-bold"
                        >Building Category</label
                      >
                      <br />
                      <select
                        id="buildingType"
                        ng-model="PredictCtrl.buildingType"
                        ng-options="key as PredictCtrl.buildingTypeValue[key] for (key, value) in PredictCtrl.buildingTypeDetail"
                        ng-change="PredictCtrl.setBuildingTypeValue()"
                        required
                        class="custom-select"
                      >
                        <option value="" disabled>Select Option</option>
                      </select>
                    </div>
                  </div>
                  <button
                    ng-disabled="PredictForm.$invalid || PredictCtrl.disableButton"
                    type="submit"
                    ng-click="PredictCtrl.getResult();"
                    class="btn btn-lg bg-primary text-light"
                  >
                    Submit Details
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card bg-light" ng-if="PredictCtrl.rentRange">
              <div class="card-body">
                <h2>
                  Expected Rent of House as per your requirements is Rs. 
                  {{ PredictCtrl.rentRange | number: 0 }} in the selected region.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
